* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  /* Allow ul to take up remaining space */
  justify-content: flex-end;
  /* Align links to the right */
}

nav li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  color: rgb(17, 2, 70);

}

nav li .active {
  color: rgb(26, 144, 190);
}

.logo-box {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo {
  height: 40px;
  margin-right: 10px;
}



nav ul li {
  margin-left: 25px;
  padding: 8px 10px;
  border-radius: 20px;

  &:hover {
    background-color: #F56D21;
    transition: 0.3s ease;
  }
}

nav button {
  margin-left: 20px;
  border: none;
  padding: 10px 20px;
}

nav button a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;

}

.btn-contact {
  border-radius: 5px;
  font-size: 15px;
  background-color: #F56D21;
}

nav .admin {
  background-color: rgb(18, 98, 129);
  font-size: 15px;
  border-radius: 20px;
  cursor: pointer;
}

/* -----------------------------------------------------------
------------------------SECTION 1--------------------------
----------------------------------------------------------- */

.section1 {
  height: 80vh;
  background-image: url('/public/assets/images/section1.png');
  background-size: cover;
  display: flex;
  align-items: end;
  justify-content: space-around;
}

.name-box {
  width: 220px;
  margin-bottom: 40px;
}

.name-box h3 {
  color: #fff;
  font-size: 45px;
  letter-spacing: 2px;
  text-shadow: 0 0 20px #000;
}

form .contact-form {
  height: 420px;
  background-color: #52608de5;
  display: flex;
  flex-direction: column;
  width: 310px;
  gap: 18px;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
  border-radius: 5px;
  float: right;
  margin-bottom: 40px;
}

.contact-form h2 {
  color: white;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
}

.contact-form input {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  font-size: 16px;
  color: #fff;
  padding: 8px 20px;
  outline: none;
  border-radius: 5px;

  &::placeholder {
    color: #fff;
  }
}

.contact-form button {
  font-size: 18px;
  color: #fff;
  background-color: #F56D21;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px 80px;
  border: none;
  text-transform: uppercase;
  box-shadow: 0 0 10px #0000003d;

  &:active {
    transform: scale(0.96);
    transition: 0.5s ease;
  }
}


/* -----------------------------------------------------------
------------------------SECTION 2--------------------------
----------------------------------------------------------- */

.section2 {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.s2-text-box {
  width: 500px;
  height: 200px;
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.s2-text-box h2 {
  color: #227DE8;
  font-weight: 700;
  font-size: 30px;
}

.s2-text-box p {
  font-size: 13px;
  width: 380px;
}

.s2-photos-box {
  height: 100%;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.s2-photos-box .smallimg {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  align-items: center;
  justify-content: center;

}

.s2-photos-box .img1 {
  height: 300px;
}

.s2-photos-box .img2 {
  height: 230px;
}

.s2-photos-box .img3 {
  height: 190px;
}

/* -----------------------------------------------------------
---------------------------SECTION 3--------------------------
----------------------------------------------------------- */
.section3 {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.s3-text-box {
  /* background-color: green; */
  height: 100px;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.s3-text-box h2 {
  color: #227DE8;
  font-size: 30px;
}

.s3-text-box .border {
  width: 50%;
  background-color: #227DE8;
  height: 5px;
}

.s3-content-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.s3-content-box .card {
  height: 400px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.s3-content-box .card .img {
  height: 80px;
  width: 80px;
  background-color: #defaf5;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.s3-content-box .card .img img {
  height: 40px;
}

.s3-content-box .card h2 {
  color: #227DE8;
}

.s3-content-box .card p {
  text-align: center;
  font-size: 14px;
}

/* -----------------------------------------------------------
---------------------------SECTION 4--------------------------
----------------------------------------------------------- */

.section4 {
  margin-top: 50px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 80px;
}

.s4-photos-box {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 40px;
  height: 400px;
}

.s4-photos-box .img3 {
  align-self: flex-end;
}

.s4-content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.s4-content-box .heading {
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.heading .border {
  width: 80%;
  height: 8px;
  background-color: #227DE8;
  border-radius: 20px;
}

.heading h2 {
  font-size: 35px;
  color: #227DE8;
}

.s4-content-box p {
  text-align: center;
  width: 50%;
  font-size: 14px;
}

.s4-content-box button {
  font-size: 15px;
  padding: 8px 50px;
  background-color: #fff;
  border: none;
  border-bottom: 2px solid #227DE8;
  border-radius: 5px;
  box-shadow: 0 0 10px #0000001a;
  transform: 0.3s ease;
  font-weight: 500;

  &:active {
    transform: scale(0.98);
  }

  &:hover {
    background-color: #227DE8;
    color: #fff;
  }
}

/* -----------------------------------------------------------
---------------------------SECTION 5--------------------------
----------------------------------------------------------- */
.section5 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 60px;
  background-color: #e8fcf8;
  padding: 0 20px;
  box-sizing: border-box;
}

.section5 h2 {
  font-size: 30px;
  color: #227DE8;
}

.section5 .para {
  width: 520px;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}

.s5-projects {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 10px;
  gap: 20px;
  width: 100%;
  max-width: 100%;
  scroll-behavior: smooth;
  margin-left: 60px;
}

.s5-projects::-webkit-scrollbar {
  height: 8px;
}

.s5-projects::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

.s5-projects .project-card {
  flex-shrink: 0;
  height: 350px;
  width: 250px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
  box-shadow: 2px 2px 10px #00000046;
}

.project-card .project-img {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 218px;
  display: flex;
  justify-content: center;
  align-items: start;
}

.project-img img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 100%;
  width: 100%;
}

.project-card h3 {
  color: #227DE8;
  margin-left: 20px;
  font-size: 25px;
}

.project-card p {
  margin-left: 20px;
  font-weight: 500;
}

.project-card button {
  margin-left: 20px;
  background-color: #F56D21;
  font-size: 17px;
  padding: 5px 20px;
  border: none;
  font-weight: 600;
  color: #fff;
  border-radius: 5px;
  transition: 0.3s ease;
}

.project-card button:active {
  transform: scale(0.97);
}

/* -----------------------------------------------------------
---------------------------SECTION 6--------------------------
----------------------------------------------------------- */
.section6 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section6 h2 {
  color: #227DE8;
  font-size: 35px;
  margin-top: 50px;
}

.section6 .s6-clients-wrapper {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 10px;
  margin-top: 50px;
  position: relative;
}

.section6 .s6-clients {
  display: flex;
  gap: 30px;
  height: 450px;
  padding: 10px 10px;
}

.client-card {
  flex-shrink: 0;
  height: 350px;
  width: 250px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px #0000002d;
  position: relative;
  background: #fff;
}

.client-card .client-img {
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-img img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.client-card .client-content {
  flex: 1;
  padding: 10px 20px;
  overflow-y: auto;
}

.client-card .client-info {
  padding: 10px 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.client-card h3 {
  color: #227DE8;
  font-size: 20px;
  margin: 0;
}

.client-card h5 {
  color: #272727;
  font-weight: 600;
  font-size: 14px;
  margin: 5px 0 0 0;
}



/* -----------------------------------------------------------
---------------------------SECTION 7--------------------------
----------------------------------------------------------- */
.section7 {

  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.s7-content {
  background-image: url('/public/assets/images/Rectangle.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.s7-box {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #0000008f;
  gap: 20px;
}

.s7-box h2 {
  color: #fff;
  width: 600px;
  text-align: center;
}

.s7-box button {
  padding: 8px 80px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  color: #227DE8;
  font-weight: 600;
  font-size: 15px;
}

.footer {
  width: 100%;
}

.footer-1 {
  width: 100%;
  background-color: #227DE8;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
}

.footer-1 ul {
  list-style: none;
  display: flex;
  gap: 20px;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}

.subscribe {
  display: flex;
  gap: 40px;
  align-items: center;
}


.subscribe h5 {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}

.sub-box {
  background-color: #227DE8;
  border-radius: 8px;
  height: 30px;
  display: flex;
  align-items: center;
  border: 2px solid #fff;

}

.sub-box input {
  border: none;
  outline: none;
  font-size: 16px;
  padding-left: 5px;
  border-radius: 8px;
  background-color: transparent;
  color: #fff;
}

.sub-box button {
  height: 100%;
  border: none;
  width: 100px;
  font-size: 15px;
  color: #227DE8;
  font-family: 800;
  cursor: pointer;
}


/* -----------------------------------------------------------------
----------------------ADMIN-----------------------------------
---------------------------------------------------------------- */

.admin-section-1 {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  background-color: #eef6fc;
  padding-bottom: 50px;
}

.admin-section-1 h2 {
  align-self: flex-start;
  color: #227DE8;
}

.project-form {
  display: flex;
  /* background-color: red; */
  width: 100%;
  justify-content: center;
  margin-top: 20px;
  gap: 50px;
}

.project-form input {
  background-color: #fff;
  border: 2px solid #227DE8;
  outline: none;
  font-size: 18px;
  color: #227DE8;
  border-radius: 5px;
  padding: 5px 20px;
}


.project-form button {
  color: #fff;
  background-color: #227DE8;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  font-size: 15px;

  &:active {
    transform: scale(0.98);
  }
}

.a-display-project {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
  border-top: 1px solid #227DE8;
}

.a-p-row {
  display: flex;
  align-items: center;
  padding: 20px 0 20px 10px;
  border-bottom: 1px solid #227DE8;
  justify-content: space-around;
}

.a-p-row h5 {
  font-size: 20px;
  text-align: left;
}


.admin-client-section {
  display: flex;
  flex-direction: column;
  height: 60vh;
  margin-top: 80px;
  gap: 50px;
  align-items: center;
}

.admin-client-section h2 {
  align-self: start;
  color: #227DE8;
}

.client-form {
  display: flex;
  /* background-color: red; */
  width: 100%;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}

.client-form input {
  background-color: #fff;
  border: 2px solid #227DE8;
  outline: none;
  font-size: 18px;
  color: #227DE8;
  border-radius: 5px;
  padding: 5px 10px;
}

.client-form button {
  color: #fff;
  background-color: #227DE8;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  font-size: 15px;

  &:active {
    transform: scale(0.98);
  }
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.popup-content {
  text-align: center;
}

.popup-content button {
  margin-top: 10px;
}